body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    color: #000000;
} 

.header-background {
    background-image: url('./images/burger.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.4rem;
}

.header-paragraph {
    font-size: 2rem;
}

h1, .header-paragraph {
    color: #FFFFFF;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.food-emoji {
    font-size: 5rem;
}

.food-description {
    display: flex;
    flex-direction: column;
}

.main-heading {
    color: #000000;
}

.ingredients {
    margin: 0;
}

.ellipse {
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-plus {
    font-size: 2rem;
    font-weight: 200;
}

hr {
    width: 50%;
    margin: 0 auto;
}