*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    color: #000000;
} 

.header-background {
    background-image: url('./images/burger.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.4rem;
}

.header-paragraph {
    font-size: 2rem;
}

h1, .header-paragraph {
    color: #FFFFFF;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-emoji {
    font-size: 5rem;
}

.food-description {
    display: flex;
    flex-direction: column;
}

.main-heading {
    color: #000000;
}

.ingredients {
    margin: 0;
}

.plus-btn {
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FFFFFF;
}

.fa-plus {
    font-size: 2rem;
    font-weight: 200;
}

hr {
    width: 100%;
    margin: 0 auto;
}

h3 {
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.order-items-list {
    display: flex;
    flex-direction: column;
}

.order-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.total-price-row {
    padding: 1rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.order-btn {
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-weight: 700;
    width: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.order-btn:hover {
    background-color: #16a085;
}