body {
    margin: 0;
} 

.header-background {
    background-image: url('./images/burger.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
}